<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
      <CodeSnippet Format="1.0.0">
	  
	<Header>
      <Title>
          Introduction to MVC3
      </Title>
	</Header>

	<Snippet>
		<shortcut>mv31</shortcut>
		<References>
			<Reference>
				<Assembly>System.Windows.Forms.dll</Assembly>
			</Reference>
		</References>
		<Code Language="CSharp">
			<![CDATA[
				return "This is my <b>default</b> action...";
			]]>
		</Code>
	</Snippet>


</CodeSnippets>